{% macro render_query(key) %}
<label for="{{ key }}_" class="control-label">{{ key }}</label>
<input type="number" step="1" name="{{ key }}" id="{{ key }}_" class="form-control" autocomplete="off" value="{{ format_value(key) }}">
{% endmacro %}

{% macro render_value(key, integer) %}
<h3>{{ key }}</h3>
<div id="{{ key }}_">{{ integer | int }}</div>
{% endmacro %}
