{% macro head_style_loaded() %}
<link rel="stylesheet" href="//api.mapbox.com/mapbox.js/v2.2.4/mapbox.css">
{% endmacro %}

{% macro head_style_inline() %}
.geotable-map {height: 300px}
{% endmacro %}

{% macro head_script_inline() %}
var map_definitions = {};
{% endmacro %}

{% macro body_script_loaded() %}
<script src='//api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
{% endmacro %}

{% macro body_script_inline() %}
function get_tile_layer_id(key) {
  try {
    return /(streets|light|dark|satellite|streets-satellite|wheatpaste|streets-basic|comic|outdoors|run-bike-hike|pencil|pirates|emerald|high-contrast)_geotable/.exec(key)[1];
  } catch(e) {
    return 'streets';
  }
}
L.mapbox.accessToken = '{{ get_os_environment_variable('MAPBOX_TOKEN', 'pk.eyJ1IjoibWFwYm94IiwiYSI6IlhHVkZmaW8ifQ.hAMX5hSW-QnTeRCMAy9A8Q') }}';
$.each(map_definitions, function(k, v) {
  var map = L.mapbox.map(k + '_', 'mapbox.' + get_tile_layer_id(k)), xs = [];
  var rows = v[0], properties = v[1];
  for (var i = 0; i < rows.length; i++) {
    var a = rows[i], geometry_type_id = a[0], geometry_coordinates = a[1], local_properties = a[2];
    var x;

    switch(geometry_type_id) {
      case 1:
        var radius = 10;
        x = L.circle(geometry_coordinates, radius);
        break
      case 2:
        // Polyline
        break
      case 3:
        // Polygon
        break
      case 4:
        break
      case 5:
        // MultiPolyline
        break
      case 6:
        // MultiPolygon
        break
    }

    xs.push(x);
  }
  map.fitBounds(L.featureGroup(xs).addTo(map).getBounds());
});
{% endmacro %}

{% macro render_query(key) %}
{% endmacro %}

{% macro render_value(key, value) %}
{% set items, properties = value %}
<h3>{{ key }}</h3>
<div id="{{ key }}_" class="geotable-map"></div>
<div id="{{ key }}__">
{% for geometry_type_id, geometry_coordinates, local_properties, local_table in items %}
<table id="{{ key }}__{{ loop.index }}" class="table">
<tr>{% for column in local_table.columns %}<th>{{ column }}</th>{% endfor %}</tr>
{% for index, row in local_table.fillna('').iterrows() %}
<tr>{% for column in row %}<td>{{ column }}</td>{% endfor %}</tr>
{% endfor %}
</table>
{% endfor %}
</div>
<script>
map_definitions['{{ key }}'] = [[
{% for geometry_type_id, geometry_coordinates, local_properties, local_table in items %}
[{{ geometry_type_id }}, {{ geometry_coordinates }}, {{ local_properties }}]
{%- if not loop.last %},{% endif %}
{% endfor %}], {{ properties }}];
</script>
{%- endmacro %}
