{% macro head_style_loaded() %}{% endmacro %}
{% macro head_style_inline() %}{% endmacro %}
{% macro body_script_loaded() %}{% endmacro %}
{% macro body_script_inline() %}{% endmacro %}

{% macro render_query(key) %}
<label for="{{ key }}_" class="control-label">{{ key }}</label>
<textarea name="{{ key }}_txt" id="{{ key }}_" class="form-control" rows="10">{{ format_value(key) }}</textarea>
{% endmacro %}

{% macro render_value(key, text) %}
{% from 'crosscompute:types/string.jinja2' import render_value with context %}
{{ render_value(key, text) }}
{% endmacro %}
