{% macro head_style_loaded() %}{% endmacro %}
{% macro head_style_inline() %}{% endmacro %}
{% macro head_script_inline() %}{% endmacro %}
{% macro body_script_loaded() %}{% endmacro %}
{% macro body_script_inline() %}{% endmacro %}

{% macro render_query(key) %}
{% endmacro %}

{% macro render_value(key, image_path) %}
<h3>{{ key }}</h3>
<img src="{{ get_url_from_path(image_path) }}">
{% endmacro %}
